.text-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}


.s1 { flex: 1; }
.s2 { flex: 2; }
.s3 { flex: 3; }
.s4 { flex: 4; }

.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
