body {
  margin: 0;
  padding: 0;
  background: #f0f0f0;
  font-family: SF, -apple-system;
  /* 禁止选中文本（如无文本选中需求，此为必选项） */
  user-select: none;
}

#demo {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  margin: auto;
  border: 2px solid #000;
}
