body {
  margin: 0;
  padding: 0;
  background: #f0f0f0;
}

#demo {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 380px;
  height: 665px;
  margin: auto;
  border: 2px solid #000;
}
